# Dependencies
node_modules

# Build outputs
/dist
/dist_keycloak

# Keycloakify cache
.keycloakify

# Logs
*.log
npm-debug.log*

# Editor
.vscode
.idea

# OS
.DS_Store

# Local env files
.env.local
.env.*.local
