App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* /내용들/ reset 할  */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  /* TODO font */
  height: 100%;
}

/**
 * 기본 마진값을 제거.
 */
body {
  margin: 0;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

textarea {
  font-family: none;
}

p,
ul,
figure {
  padding: 0;
  margin: 0;
}

a:active,
a:hover {
  outline: 0;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #363636;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff7525;
  border-radius: 2px;
  border: 2px solid #ff7525;
}
